p{
	font-size: 25px;
	font-family: "Comic Sans MS", cursive;
	font-weight: 400px;
	font-variant: normal;
	font-style: italique;
	letter-spacing: normal;
	line-height:normal;
	text-indent: 5px;
	text-decoration: line-through;
	text-transform: uppercase;
}