body{
	background: #f00;
}

#container{
			margin: 0 auto;
			width: 600px;
			background: #fff;
			padding: 20px;
			height: 1000px;
}

.box{
	 background: #0bf;
	 color: #fff;
	 width: 200px;
	 height: 200px;
	 text-align: center;
	 line-height: 200px;
	 text-transform: uppercase;
	 font-family: helvetica, arial, sans-serif;
}

#relative{
			position: relative;
			left: -20px;
}

#absolute{
			position: absolute;
}

#fixed{
			position: fixed;
}